node_modules/
.env
ai_picks.json

/cache/*
!/cache/stock_market_gainers.json
!/cache/stock_market_losers.json
!/cache/stock_market_actives.json
!/cache/stock_market_gap_up.json
!/cache/stock_market_gap_down.json
!/cache/stock_market_dollar_volume.json
